// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Minimal generic DT for RK3588S/RK3588 with eMMC, SD-card and USB OTG enabled
 */

/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include "rk3588.dtsi"

/ {
	model = "H96 Max V58";
	compatible = "rockchip,rk3588";

	aliases {
		ethernet0 = &gmac1;
		mmc0 = &sdhci;
	};

	chosen {
		stdout-path = "serial2:1500000n8";
	};
};

&sdhci {
	bus-width = <8>;
	cap-mmc-highspeed;
	mmc-hs200-1_8v;
	no-sd;
	no-sdio;
	non-removable;
	status = "okay";
};

&mdio1 {
	rgmii_phy: ethernet-phy@1 {
		/* RTL8211F */
		compatible = "ethernet-phy-id001c.c916",
			     "ethernet-phy-ieee802.3-c22";
		reg = <0x1>;
		pinctrl-names = "default";
		pinctrl-0 = <&rtl8211f_rst>;
		reset-assert-us = <15000>;
		reset-deassert-us = <50000>;
		reset-gpios = <&gpio3 RK_PB7 GPIO_ACTIVE_LOW>;
	};
};

&gmac1 {
	clock_in_out = "output";
	phy-handle = <&rgmii_phy>;
	phy-mode = "rgmii-rxid";
	pinctrl-0 = <&gmac1_miim
		     &gmac1_tx_bus2
		     &gmac1_rx_bus2
		     &gmac1_rgmii_clk
		     &gmac1_rgmii_bus>;
	pinctrl-names = "default";
	rx_delay = <0x00>;
	tx_delay = <0x43>; // May need to be 42 according to decompiled dts
	status = "okay";
};

&pinctrl {
	rtl8211f {
		rtl8211f_rst: rtl8211f-rst {
			rockchip,pins = <4 RK_PB3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&uart2 {
	pinctrl-0 = <&uart2m0_xfer>;
	status = "okay";
};

